*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.topbar{
    display: flex;
    height: 7%;   
}
.topbar .div1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.topbar .div1{
    font-weight: 600;
    color: #dd5959;
    font-size: 19px;
}
.topbar .div2{
    display: flex;
    flex-direction: row;
    padding-right: 17px;
    width: 50%;
    align-items: center;
    justify-content: end;
    
}
.topbar .div2 button{
    width: 90px;
    height:25px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #68c2eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
section{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93%;
}
form{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    width: 390px;
    height: 410px;
    box-shadow: 0px 0px 20px rgb(163, 161, 163); 
    background: transparent;
    backdrop-filter: blur(25px);
   

}
form input{
    margin: 5px;
    padding-left: 10px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(138, 162, 173);
    font-size: 17px;
}
form .submit{
    margin: 10px;
    width: 100px;
    height: 37px;
    font-size: 17px;
    font-weight: 600; 
    color: white;
    background-color: #5db2f8;
    border: 1px solid white;
    border-radius: 7px;
}
form .submit1{
    margin: 7px;
    width: 100px;
    height: 37px;
    font-size: 17px;
    font-weight: 600; 
    color: white;
    background-color: #3333ff;
    border: 1px solid white;
    border-radius: 7px;
}
form a{
    margin: 4px;
    font-size: 16px;
    color: #0c5555;
    font-weight: 600;
    text-decoration : none;
}
form a:hover {
    color: #2a72dd;
}
form .a1{
    font-size: 16px;
}
::placeholder{
    margin-left: 7px;
    font-size: 17px;
}
h4{
    margin: 0px;
    padding: 0;
    color: #ff3300;
    font-size: 18px;
}

.sucess{
    margin: 5px;
    padding: 0;
    color: #10af10;
    font-size: 20px;
}
h2{
    color: #126b6b;
    margin: 0px 15px 15px 15px;
    font-size: 28px;
   
}
@media(max-width:600px){
    form{
        padding: 7px; 
        border: none;
        width: 350px;
        height: 380px;

    }
    form input{
        margin: 7px;
        padding-left: 5px;
        width: 200px;
        height: 32px;
        border-radius: 5px;
        border: none;
        font-size: 15px;
    }
    form .submit{
        margin: 7px;
        width: 80px;
        height: 34px;
        font-size: 19px;
        border-radius: 5px;
    }
    form a{
        margin: 5px;
        font-size: 18px;
    }
    .registerd{
        font-size: 20px;
    }
    ::placeholder{
        margin-left: 5px;
        font-size: 16px;
    }
    h4{
        font-size: 18px;
    }
    .sucess{
        margin: 5px;
        font-size: 18px;
    }
    h2{
        font-size: 26px;      
    }
    #class1{
        font-size: 15px;
    }

}




